.homepage{
    background-image: url('../../Assets/background.png');
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
    display: flex;
    background-position: center center;
    justify-content: space-around;
    position: relative;
}

.homepageBackground{
    background-color: rgb(0 0 0 / 78%);;
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.text{
    display: flex;
    align-items: center;
    z-index: 122;

}
.heading{
    font-size: 70px;
    font-weight: 600;
    color: #fff;
}

.form{
    width: 484px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    min-height: initial;
    z-index: 122;
}

.google{
border: 0px;
height: 40px;
border-radius: 20px;
padding: 0px 18px;
font-size: 15px;
font-weight: bold;
cursor: pointer;
margin-top: 8px;
text-align: center;
background-color: rgb(230, 0, 35);
color: rgb(255, 255, 255);
}