
.pinContainer{  
    margin: 0px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 252px);
    grid-template-rows: 10px;
    justify-content: center;
}

.pin{
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    width: 252px;
}
   .image{
    margin: .5rem 1rem;
    width: 100%;
   }